body {
    margin: 0;
    background: #FFFFFF;
}

.article {
    position: relative;
    /* width: 1440px; */
    /* height: 800px; */
    margin: 0;
    background: #FFFFFF;
}

.buttonArticle {
    border-radius: 50px;
    background-color: white;
}

#foto {
    position: absolute;
    width: 396px;
    height: 396px;
    left: 178px;
    top: 215px;
    mix-blend-mode: normal; 
}

 .text{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 2px;
    font-size: 15px;
    line-height: 30px;
    color: #000000;
    left: 59px;
    top: 120px;
}


#paragraf {
    position: absolute;
    width: 538px;
    height: 447px;
    left: 664px;
    top: 316px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;

    color: #000000; 
}
body{
  animation: fade-in 2s;
}
.tengah{
    padding-top: 200px;
    padding-left: 180px;
}

.tengah2 {
    padding-top: 120px;
    padding-left: 80px;
    border-radius: 50px;	  
}

textarea{
    height: 300px;
    width: 400px;
    padding: 12px 20px;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    border-radius: 50px;
}

@keyframes fade-in{
    from {opacity: 0;}
    to {opacity: 1;}
}

.navbar a{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    }

.navbar-dark .navbar-brand {
    margin-right: 35px;
}

.nav.navbar-nav li a {
    color: blue;
}

.navbar-nav > li{
    margin-left:30px;
    margin-right:30px;
}

.custom-toggler .navbar-toggler-icon {
    align-content: center;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(200,200,200)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");

    }

.custom-toggler.navbar-toggler {
    border-color: rgb(200,200,200);
    border-width: 1.5px;;
} 
