body{
  animation: fade-in 2s;
}
.tengah{
    padding-top: 200px;
    padding-left: 180px;
}

.tengah2 {
    padding-top: 120px;
    padding-left: 80px;
    border-radius: 50px;	  
}

textarea{
    height: 300px;
    width: 400px;
    padding: 12px 20px;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    border-radius: 50px;
}

@keyframes fade-in{
    from {opacity: 0;}
    to {opacity: 1;}
}