<!DOCTYPE html>
{% load static %}
<head>
   <title>SarangKarir</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="icon" type="image/ico" href="{% static 'images/sarangkarir Logo.png' %}">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<style>
  body{
    animation: fade-in 2s;
  
  }
  @keyframes fade-in{
    from {opacity: 0;}
    to {opacity: 1;}
}

    .navbar a{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    }

    .navbar-dark .navbar-brand {
        margin-right: 35px;
    }

    .nav.navbar-nav li a {
        color: blue;
    }

    .navbar-nav > li{
        margin-left:30px;
        margin-right:30px;
    }

    .custom-toggler .navbar-toggler-icon {
        align-content: center;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(200,200,200)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");

      }

    .custom-toggler.navbar-toggler {
        border-color: rgb(200,200,200);
        border-width: 1.5px;;
    } 
    .contact{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 48px;
        text-align: center;
        padding-top: 95px;
        display: block;
        color: #000000;

        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .text{
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: normal;
        letter-spacing: 2px;
        font-size: 15px;
        line-height: 30px;
        color: #000000;
    }

    .wrapper {
        position: absolute;
        padding-top: 60%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    ul.sosmed {
        list-style: none;
        display: block;
        padding-top: 20px;
    }
    ul.sosmed li {
        width: 50px;
        height: 50px;
        background: #e59500;
        margin: 35px 0;
        border-radius: 3px;
        position: relative;
        cursor: pointer;
        box-shadow: 0 0 10px rgba(0,0,0,0.3);
    }
    ul li .fa {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 20px;
    }
    ul li.facebook {
        background: rgb(236, 231, 231);
    }
    ul li.twitter {
        background: rgb(236, 231, 231);
    }
    ul li.instagram {
        background: rgb(236, 231, 231);
    }
    ul li.google {
        background: rgb(236, 231, 231);
    }
    ul li.whatsapp {
        background: rgb(236, 231, 231);
    }
    .slider {
        position: absolute;
        top: 0;
        left: 51px;
        width: 0px;
        height: 50px;
        line-height: 50px;
        background: #eebb5c;
        text-align: center;
        border-radius: 3px;
        transition: all 0.2s ease;
    }
    .slider p {
        text-transform: uppercase;
        font-family: Roboto;
        font-size: 16px;
        opacity: 0;
        font-weight: bold;
        transition: all 0.2s ease;
    }
    ul li.facebook div.slider {
        background: rgb(236, 231, 231);
    }
    ul li.twitter div.slider {
        background: rgb(236, 231, 231);
    }
    ul li.instagram div.slider {
        background: rgb(236, 231, 231);
    }
    ul li.google div.slider {
        background: rgb(236, 231, 231);
    }
    ul li.whatsapp div.slider {
        background: rgb(236, 231, 231);
    }
    ul li:hover .slider {
        width: 230px;
    }
    ul li:hover .slider p {
        opacity: 1;
    }
    textarea{
        width: 400px;
        height: 300px;
        padding: 12px 20px;
        box-sizing: border-box;
        border-radius: 4px;
        box-shadow: 0 0 10px rgba(0,0,0,0.3);
       
        background-color: #f8f8f8;
        font-size: 16px;
        resize: none;
        border-radius: 35px;
    }
    .buttonContact {
        width: 140px;
        height: 45px;
        font-family: 'Roboto', sans-serif;
        font-size: 11px;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        font-weight: 500;
        color: #000;
        background-color: #f8f8f8;
        border: none;
        border-radius: 45px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease 0s;
        cursor: pointer;
        outline: none;
        border-radius: 50px;
        }
    .buttonContact:hover {
        background-color: #fcfcfc;
        box-shadow: 0px 15px 20px rgba(130, 139, 136, 0.4);
        color: #000;
        transform: translateY(-7px);
    }
    textarea[type="text"]::placeholder {  
        font-style: italic;
}                     
</style>
<body>
    {% block navbar %}
    {% include 'components/navbar.html' %}
    {% endblock navbar %}

    {% block body %} 
    <h1 class="contact">CONTACT US</h1>
    <div class="container-fluid" id="about-me">
        <div class="row">
            <div class="col">
                <div class="wrapper">
                    <ul class="sosmed">
                        <li class="facebook">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                            <div class="slider">
                                <p style="color: #000000;">Sarang&nbsp;Karir</p>
                            </div>
                        </li>
                        <li class="twitter">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                            <div class="slider">
                                <p style="color: #000000;">@SarangKarir.id</p>
                            </div>
                        </li>
                        <li class="instagram">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                            <div class="slider">
                                <p style="color: #000000;">@SarangKarir.id</p>
                            </div>
                        </li>
                        <li class="google">
                            <i class="fa fa-google" aria-hidden="true"></i>
                            <div class="slider">
                                <p style="color: #000000;">jobs@sarangKarir.com</p>
                            </div>
                        </li>
                        
                    </ul>
                </div>
            </div>
            <div class="col">
                <br>
                <p class="text">We'd love to hear from you</p>
                <form method="post" >
                  {% csrf_token %}
                  <div class="form-group ">
                    <!-- <textarea  type="text" placeholder="Add a message..."></textarea> -->
                    {% for field in form %}
                    {{field}}
                    {% endfor %}
                  </div>
                    <button type="submit" class="buttonContact">SUBMIT</button>
                </form>  
            </div>
        </div>
    </div>
    {% endblock body %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
