<!DOCTYPE html>
<html>
	{% load static %}
	 
  
	
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
  
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	 <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> 
     <link rel="stylesheet" type="text/css" href="{% static 'css/article.css' %}"> 
     <link href="https://fonts.googleapis.com/css?family=Manjari|Montserrat:300,400,500,600|Poppins:400,600|Roboto:100,300,400,500,700,900|Monoton&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">


  <title>Article</title>
  </head>
<body>
    {% block navbar %}
    {% include 'components/navbar.html' %}
    {% endblock navbar %}


  {% block body %}
  <div class="row d-flex justify-content-center tengah">
  <div class="col-5 justify-content-center">
      {% for artikel in article %} 
        <h1>{{ artikel.title }}</h1>
        <br>
          <p class="d-flex justify-content-left">{{ artikel.paragraph }}<br></p>
          <a href="{% url 'homepage:index' %}">
            <button type="button" class="btn btn-outline-dark btn-lg">BACK</button>
          </a>
  </div>      
  </div>
      {% endfor %}
  {% endblock body %}    
</body>
</html>