<!DOCTYPE html>
{% load static %}
<head>
    <link rel="stylesheet" href="">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
     <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
     <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<style>
    body{
      animation: fade-in 2s;
    
    }

    .navbar a{
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
    }

    .navbar-dark .navbar-brand {
        margin-right: 35px;
    }

    div {
        word-wrap: break-word;
    }

    .navbar-nav > li{
        margin-left:30px;
        margin-right:30px;
    }

    .custom-toggler .navbar-toggler-icon {
        align-content: center;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(200,200,200)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");

      }

    .custom-toggler.navbar-toggler {
        border-color: rgb(200,200,200);
        border-width: 1.5px;;
    }

    @keyframes fade-in{
      from {opacity: 0;}
      to {opacity: 1;}
    }
    .event{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    text-align: center;
    padding-top: 70px;
    display: block;
    color: #000000;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    html{
        scroll-behavior: smooth;
        overflow-x: hidden;
    }

    body{
        animation: fade-in 2s;
    }

    .text{
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: normal;
        letter-spacing: 2px;
        font-size: 15px;
        line-height: 30px;
        color: #000000;
    }

    ol {
        list-style: none;
        display: block;
        padding-top: 20px;
    }
    ol li {
        width: 50px;
        height: 50px;
        background: #e59500;
        margin: 35px 0;
        border-radius: 3px;
        position: relative;
        cursor: pointer;
        box-shadow: 0 0 10px rgba(0,0,0,0.3);
    }
    ol li .fa {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 20px;
    }
</style>
<body>
    {% block navbar %}
    {% include 'components/navbar.html' %}
    {% endblock navbar %}

    <h1 class="event"style="padding-top: 100px">ADD AN EVENT</h1>
    <div id = "sched">
        <div class="container-fluid">
            <h1>Schedule</h1>
            <hr>
            <form class="left" style="width: 50%; margin: 0 auto" method="POST" action="{% url 'event:sched_add' %}" novalidate>
                {% csrf_token %}
                <div class="form-group">
                    <label for="eventname"><strong>{{ form.eventname.label_tag }}</strong></label>
                    {{ form.eventname }}
                </div>
                <div class="form-group">
                        <label for="eventdesc"><strong>{{ form.eventdesc.label_tag }}</strong></label>
                        {{ form.eventdesc }}
                    </div>
                <div class="form-group">
                    <label for="dates"><strong>{{ form.dates.label_tag }}</strong></label>
                    {{ form.dates }}
                </div>
                <div class="form-group">
                    <label for="time"><strong>{{ form.time.label_tag }}</strong></label>
                    {{ form.time }}
                </div>
                <div class="form-group">
                    <label for="location"><strong>{{ form.location.label_tag }}</strong></label>
                    {{ form.location }}
                </div>
                <div class="form-group">
                    <label for="rsvp"><strong>{{ form.rsvp.label_tag }}</strong></label>
                    {{ form.rsvp }}
                </div>
                <br>
                <button type="submit" class="btn btn-primary waves-effect waves-light" value="Save"><h4>Add</h4></button>
            </form>
            <hr>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>