{% extends 'sarangkarir/findjob.html' %}
{% load static %}

{% block body%}
<div class="jobresult">
    <div class="p-3">
        <a href="{% url 'homepage:index' %}">
            <img src="{% static 'images/LogoBlack.png' %}" alt="logo" style="width: 40px; height: 55px;">
        </a>
        <div class="float-right">
            <a href="{% url 'homepage:index' %}"">
                <button type="button" class="btn btn-outline-dark btn-lg">Home</button>
            </a>
        </div>
    </div>
    <div class="text-center mb-3">
        <h2>Hello {{ user.name }}, this is the job for you :</h2>
    </div>
    <div class="container mt-2 pr-5 pl-5 text-center d-flex justify-content-center">
        {% for i in result %}
        <div class="card" style="width: 50vw;">
            <img src="{{ i.foto }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h3 class="card-text">{{ i.name }}</h3>
                <p class="card-text">{{ i.description }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock body %}


